body {
    background-color: #287a76;
}

#page-content {
    background-color: white;
}

.hero {
    background-color: #287a76;
    color: white;
    padding: 50px 0;
    text-align: center;
    line-height: 1.0em;
    font-size: 18px;
}

.starter-template .content .hero h1 {
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
    max-width: 810px;
    padding: 0 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.bl-stats {
    padding: 10px 0;
    background-color: #e8ecc7;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    text-align: center;
}

.bl-stats .stat {
    display: inline-block;
    min-width: 200px;
    padding: 10px;
    color: #27514d;
}

.leader-board {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.leader-board tr {
    /*display: inline-block;*/
    min-width: 200px;
    padding: 3px 20px;
    border: 2px solid #4c4c4c;
    background-color: #dfdfdf;
    text-align: center;
}

.leader-board td, .leader-board th {
    padding: 3px 20px;
    border: 1px solid #4c4c4c;
    text-align: center;
}

.user .percent-lost {
    min-width: 200px;
    padding: 0 20px;

    text-align: center;
    font-weight: bold;
}

.user .percent-lost.lost {
    color: green;
}

.user .percent-lost.gained {
    color: red;
}


#last_nav_link {
    margin-right: 45px;
}

footer {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    color: white;
    background-color: #287a76;
    text-align: center;
}

.error-msg {
    color: #9b0000;
}

.navbar-brand img {
    width: 45px;
}